<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.wzmyyj.goout">

    <!-- 读取文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data
        android:name="AA_DB_NAME"
        android:value="wzm.db" />
    <meta-data
        android:name="AA_DB_VERSION"
        android:value="1" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_go"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LaunchActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@style/splash_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="top.wzmyyj.goout.DataProvider"
            android:exported="true"
            tools:node="replace" />

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            -
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="top.wzmyyj.goout" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="top.wzmyyj.goout.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".activity.my_info.MyInfoActivity" />
        <activity android:name=".activity.my_info.UpdateMyInfoActivity" />
        <activity android:name=".activity.my_info.UpdatePasswordActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.my_info.InitInfoActivity" />
        <activity android:name=".activity.contact.ContactActivity" />
        <activity android:name=".activity.contact.FindFriendActivity" />
        <activity android:name=".activity.contact.UserInfoActivity" />
        <activity android:name=".activity.chat.CreateSingleChatActivity" />
        <activity android:name=".activity.chat.CreateGroupChatActivity" />
        <activity android:name=".activity.chat.GroupChatInfoActivity" />
        <activity android:name=".activity.chat.SingleChatInfoActivity" />
        <activity android:name=".activity.chat.GroupChatActivity" />
        <activity android:name=".activity.chat.SingleChatActivity" />
        <activity android:name=".activity.contact.NewFriendActivity" />
        <activity android:name=".activity.home.ArticleActivity" />
        <activity android:name=".activity.chat.DeleteGroupMemberActivity" />
        <activity android:name=".activity.message.SomeMessageActivity" />
        <activity android:name=".activity.play.StartPlayActivity"></activity>
    </application>

</manifest>