<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.wzmyyj.goout">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_go"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LaunchActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.LoginActivity" />

        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="top.wzmyyj.goout.DataProvider"
            android:exported="true"
            tools:node="replace" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wzm.tasking.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".activity.MyInfoActivity" />
        <activity android:name=".activity.UpdateInfoActivity" />
        <activity android:name=".activity.FriendListActivity" />
        <activity android:name=".activity.GroupListActivity" />
        <activity android:name=".activity.UpdatePasswordActivity"></activity>
    </application>

</manifest>